Package: com.elvis.ezsystemd
Name: ezsystemd
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Elvis
Author: Elvis
Section: System
Tag: role::hacker
